<section class="regervation_part section_padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Vous avez des questions, un Feedback ou une réclamation ? </p>
                    <h2>Nous Contacter</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="regervation_part_iner">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="" placeholder="Nom et Prénom *">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" id=""
                                    placeholder="Email  *">
                            </div>
                            <div class="form-group col-md-6" >
                                <input type="tel" class="form-control" id=""
                                    placeholder="Mobile *">
                            </div>
                            <div class="form-group col-md-6" >
                                <input type="text" class="form-control" id=""
                                    placeholder="Objet *">
                            </div>
                           
                            
                            
                            <div class="form-group col-md-12">
                                <textarea class="form-control" id="Textarea" rows="4"
                                    placeholder="Sujet *"></textarea>
                            </div>
                        </div>


                        <div class="regerv_btn">
                            <a href="#" class="btn_4">Envoyer</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
