<section class="about_part">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-4 col-lg-5 offset-lg-1">
                <div class="about_img">
                    <img src="assets/img/about.png" alt="">
                </div>
            </div>
            <div class="col-sm-8 col-lg-4">
                <div class="about_text">
                    <h5>Notre Histoire</h5>
                    <h2>Hajar Chebbi, jeune tunisienne pationnée par la fabrication des Fromages .</h2>
                    <h4>الخبرة الايطالية مع الأصالة التونسية</h4>
                    <p>May over was. Be signs two. Spirit. Brought said dry own firmament lesser best sixth deep
                        abundantly bearing, him, gathering you
                        blessed bearing he our position best ticket in month hole deep
                        May over was. Be signs two. Spirit. Brought said dry own firmament lesser best sixth deep
                        abundantly bearing, him, gathering you
                        blessed bearing he our position best ticket in month hole deep </p>
                    
                </div>
            </div>
        </div>
    </div>
</section>

